<md-card fxLayout="row">
  <md-card-header fxFlex="30%" fxLayout="column">
    <md-card-title>LED Lights</md-card-title>
    <md-card-subtitle>Agrivolution</md-card-subtitle>
  </md-card-header>
  <ngb-timepicker fxFlex="30%" [(ngModel)]="time" [meridian]=true [spinners]=true [size]="small"></ngb-timepicker>
  <ngb-timepicker fxFlex="30%" [(ngModel)]="time" [meridian]=true [spinners]=true [size]="small"></ngb-timepicker>
  <md-slide-toggle fxFlex="10%" fxFlexAlign="center"  class="example-margin" value="primary"></md-slide-toggle>

</md-card>