<div fxLayout="column" class="containter">
  <md-card  fxLayoutWrap="wrap" class="live data">
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
  </md-card>

  <md-card  class="live data">
  </md-card>

  <md-card  class="live data">
  </md-card>
</div>
<div>
  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button md-button>Flat button</button>
    <button md-raised-button>Raised button</button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button routerLink=".">Raised button</a>
    <a md-fab routerLink="."><md-icon>check</md-icon></a>
    <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
  </div>
</div>
<div>
  <md-slide-toggle class="example-margin" value="primary"></md-slide-toggle>
</div>

<div>
  <li>
    <ul> Never endure a shore.</ul>
    <ul>Detriuss sunt quadras de fatalis imber.</ul>
    <ul>Going to the body of faith doesn’t meet peace anymore than shaping creates wonderful ascension.</ul>
  </li>
</div>