
<md-card class= "md-card-pop" (click)="changeShowStatus()">
    <p>This is the Header Info</p>
</md-card>



<md-card *ngIf="showHide" class="Hidden Card Content" fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutWrap="wrap">
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
    <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
      <p>Hello I will be Data</p>
    </md-card>
</md-card>