<md-card  fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap" class="live data">
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
  <md-card fxFlex="33%" fxFlexAlign="center center" class="example data">
    <p>Hello I will be Data</p>
  </md-card>
</md-card>