 <md-toolbar color="primary">
    <i class="material-icons"  (click)="sideNav.toggle()" >menu</i>
     <span flex></span>
    <div fxFlex="90%" class="header title">Trifecta Dashboard</div>
    <span flex></span>
    <div class="header icons" >
      <a><md-icon>search</md-icon></a>
      <a><md-icon>apps</md-icon></a>
      <a><md-icon>add_alert</md-icon></a>
      <a><md-icon>verified_user</md-icon></a>
    </div>
  </md-toolbar>

<md-sidenav-container>

  <md-sidenav fxLayout="column"
    #sideNav
    mode="side">

   <md-card  class="side-nav">
    <md-toolbar class="md-tall md-hue-2" >
     <div fxLayout="column">
        <div>Firstname Lastname</div>
        <div>email@domainname.com</div>
     </div>
    </md-toolbar>
   </md-card>
    <md-nav-list  class="nav pages" fxLayout="column" fxFlex="0 0 10%" fxLayoutAlign="space-around">
      <md-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/"><md-icon>dashboard</md-icon> Dashboard</a>
      </md-list-item>
      <md-list-item
        routerLinkActive="active">
        <a routerLink="/sensors"><md-icon>show_chart</md-icon> Sensors</a>
      </md-list-item>
      <md-list-item
        routerLinkActive="active">
        <a routerLink="/controls"><md-icon>settings_input_component</md-icon> Controllers</a>
      </md-list-item>

    </md-nav-list>

    <hr>
    <md-nav-list class="nav sensors" fxLayout="column" fxLayoutAlign="space-around" *ngFor="let sensor of sensors | async">
        <md-list-item routerLinkActive="active">
            <a routerLink="/sensors"><md-icon>track_changes</md-icon> {{sensor.name}}</a>
        </md-list-item>
    </md-nav-list>

      <hr>
    <md-nav-list class="nav recipes" fxLayout="column" fxLayoutAlign="space-around">

    </md-nav-list>

      <hr>
    <md-nav-list class="nav other" fxLayout="column-reverse"  fxFlexLayout="space-around">
      <md-list-item fxFlexOrder="1">
        <a><md-icon>settings</md-icon>Settings</a>
      </md-list-item>
      <md-list-item>
        <a><md-icon>live_help</md-icon>Help and Feedback</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>


  <body flexLayout="column">
    <router-outlet></router-outlet>

  </body>

</md-sidenav-container>


 <button md-fab class="fab"><md-icon>check</md-icon></button>
