.side-nav .user{
  font-size: 14px;
}


hr{
  width:75%;
  color:#242424;
}

.fab{
  position:fixed;
  z-index: 2;
  bottom: 32px;
  right: 32px;
}

a{
  color: black;
  margin-left: 16px;
}

.nav:hover{
  background-color: #919191;
}